*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.head-web{
    background-color: rgb(18, 18, 49);
    color: white;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 170px;
    width: 170px;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
}
.choice:hover{
    background-color: black;
    cursor: pointer;
}
img{
       height: 160px;
     width: 160px;
     border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
body{
    background-color: rgb(168, 203, 219);
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user-score, #comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 5rem;
}
#msg{
    background-color: black;
    color: white;
    font-size: 3rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;

}